# Suggest using dotenvy (`cargo install dotenvy`) to manage environment variables
# Database Configuration
POSTGRES_DB=payment_processor
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_DATA_PATH=./data/postgres

# Application Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/payment_processor
#DATABASE_URL=sqlite:///path/to/payment-processor/data/payment_processor.sqlite?mode=rwc
INDEXER_API_URL=http://localhost:12017
